#### Python version

In [1]:
!python --version

Python 3.7.12

#### Installating libraries

In [ ]:
!pip install matplotlib

Requirement already satisfied: matplotlib in /anaconda3/lib/python3.7/site-packages (3.1.1)
Requirement already satisfied: cycler>=0.10 in /anaconda3/lib/python3.7/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /anaconda3/lib/python3.7/site-packages (from matplotlib) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /anaconda3/lib/python3.7/site-packages (from matplotlib) (2.4.0)
Requirement already satisfied: python-dateutil>=2.1 in /anaconda3/lib/python3.7/site-packages (from matplotlib) (2.8.0)
Requirement already satisfied: numpy>=1.11 in /anaconda3/lib/python3.7/site-packages (from matplotlib) (1.16.5)
Requirement already satisfied: six in /anaconda3/lib/python3.7/site-packages (from cycler>=0.10->matplotlib) (1.12.0)
Requirement already satisfied: setuptools in /anaconda3/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib) (41.0.1)

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /anaconda3/lib/python3.7/site-packages (0.25.1)
Requirement already satisfied: pytz>=2017.2 in /anaconda3/lib/python3.7/site-packages (from pandas) (2019.1)
Requirement already satisfied: numpy>=1.13.3 in /anaconda3/lib/python3.7/site-packages (from pandas) (1.16.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /anaconda3/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied: six>=1.5 in /anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)

#### Version of matplotlib

In [2]:
import matplotlib
import pandas as pd

import matplotlib.pyplot as plt

In [3]:
matplotlib.__version__

'3.2.2'

In [4]:
pd.__version__

'1.3.5'

In [7]:
# Adding Demo Datasets Base URL
datasets_folder_url = "https://raw.githubusercontent.com/supermalang/ideal-octo-spork/main/02%20-%20Identifying%20and%20Visualizing%20Common%20Relationships%20in%20Data/demos/"

### US Oil and Gas Production June 2008 to June 2018

https://www.kaggle.com/djzurawski/us-oil-and-gas-production-june-2008-to-june-2018

* Month - Defines the date of crudeoil production (First day of the month)
* U.S. Crude Oil - Total amount of production each month for 10 years(2008-2018)
* Other columns are the cities which has the crude oil production

In [8]:
crude_oil_data = pd.read_csv(datasets_folder_url+'datasets/U.S._crude_oil_production.csv')

crude_oil_data.head(5)

        Month  U.S. Crude Oil   Alabama  ...  Utah  Texas  Tennessee
0  2008-06-01             5138       21  ...    60   1097          1
1  2008-07-01             5177       21  ...    61   1111          1
2  2008-08-01             5003       21  ...    62   1110          1
3  2008-09-01             3974       21  ...    63   1055          1
4  2008-10-01             4738       21  ...    64   1125          1

[5 rows x 36 columns]

In [11]:
crude_oil_data.tail()

          Month  U.S. Crude Oil   Alabama  ...  Utah  Texas  Tennessee
116  2018-02-01            10248       17  ...   100   4015          1
117  2018-03-01            10461       17  ...   104   4185          1
118  2018-04-01            10475       17  ...   103   4222          1
119  2018-05-01            10443       16  ...    97   4245          1
120  2018-06-01            10674       16  ...    94   4410          1

[5 rows x 36 columns]

In [12]:
crude_oil_data.shape

(121, 36)

In [13]:
crude_oil_data.columns

Index(['Month', 'U.S. Crude Oil ', 'Alabama', 'Alaska', 'Arkansas', 'Arizona',
       'California', 'Colorado', 'Federal Offshore Gulf of Mexico Crude Oil',
       'Federal Offshore Pacific Crude Oil', 'Florida', 'Idaho', 'Illinois',
       'Indiana', 'Kansas', 'Kentucky', 'Louisiana', 'Michigan', 'Mississippi',
       'Missouri', 'Nebraska', 'Montana', 'Nevada', 'New Mexico', 'New York',
       'North Dakota', 'Ohio', 'Oklahoma', 'Pennsylvania', 'South Dakota',
       'Wyoming', 'West Virginia', 'Virginia', 'Utah', 'Texas', 'Tennessee'],
      dtype='object')

In [15]:
crude_oil_data.columns[(crude_oil_data.sum(axis=0)) == 0]

Index(['Arizona', 'Virginia'], dtype='object')

In [16]:
crude_oil_data.drop(['Arizona', 'Virginia'], inplace=True, axis=1)

crude_oil_data.columns

Index(['Month', 'U.S. Crude Oil ', 'Alabama', 'Alaska', 'Arkansas',
       'California', 'Colorado', 'Federal Offshore Gulf of Mexico Crude Oil',
       'Federal Offshore Pacific Crude Oil', 'Florida', 'Idaho', 'Illinois',
       'Indiana', 'Kansas', 'Kentucky', 'Louisiana', 'Michigan', 'Mississippi',
       'Missouri', 'Nebraska', 'Montana', 'Nevada', 'New Mexico', 'New York',
       'North Dakota', 'Ohio', 'Oklahoma', 'Pennsylvania', 'South Dakota',
       'Wyoming', 'West Virginia', 'Utah', 'Texas', 'Tennessee'],
      dtype='object')

In [19]:
crude_oil_data['Date'] = pd.to_datetime(crude_oil_data['Month'])

crude_oil_data['Date'].head()

0   2008-06-01
1   2008-07-01
2   2008-08-01
3   2008-09-01
4   2008-10-01
Name: Date, dtype: datetime64[ns]

In [20]:
crude_oil_data.drop('Month', inplace=True, axis=1)

crude_oil_data.columns

Index(['U.S. Crude Oil ', 'Alabama', 'Alaska', 'Arkansas', 'California',
       'Colorado', 'Federal Offshore Gulf of Mexico Crude Oil',
       'Federal Offshore Pacific Crude Oil', 'Florida', 'Idaho', 'Illinois',
       'Indiana', 'Kansas', 'Kentucky', 'Louisiana', 'Michigan', 'Mississippi',
       'Missouri', 'Nebraska', 'Montana', 'Nevada', 'New Mexico', 'New York',
       'North Dakota', 'Ohio', 'Oklahoma', 'Pennsylvania', 'South Dakota',
       'Wyoming', 'West Virginia', 'Utah', 'Texas', 'Tennessee', 'Date'],
      dtype='object')

#### Converting the Date column `Month` to pandas DatetimeIndex - For future use

In [21]:
crude_oil_data = crude_oil_data.rename(columns={'Federal Offshore Gulf of Mexico Crude Oil': 'Mexico', 
                                                'Federal Offshore Pacific Crude Oil': 'Pacific'})

crude_oil_data.columns

Index(['U.S. Crude Oil ', 'Alabama', 'Alaska', 'Arkansas', 'California',
       'Colorado', 'Mexico', 'Pacific', 'Florida', 'Idaho', 'Illinois',
       'Indiana', 'Kansas', 'Kentucky', 'Louisiana', 'Michigan', 'Mississippi',
       'Missouri', 'Nebraska', 'Montana', 'Nevada', 'New Mexico', 'New York',
       'North Dakota', 'Ohio', 'Oklahoma', 'Pennsylvania', 'South Dakota',
       'Wyoming', 'West Virginia', 'Utah', 'Texas', 'Tennessee', 'Date'],
      dtype='object')

In [24]:
crude_oil_data['Year'] = crude_oil_data['Date'].dt.year

crude_oil_data['Year'].sample(10)

30     2010
114    2017
16     2009
13     2009
79     2015
83     2015
56     2013
92     2016
80     2015
102    2016
Name: Year, dtype: int64

In [25]:
crude_oil_data['Month'] = crude_oil_data['Date'].dt.month

crude_oil_data['Month'].sample(10)

1       7
105     3
2       8
78     12
95      5
93      3
47      5
15      9
46      4
58      4
Name: Month, dtype: int64

#### Saving back to dataset folder - for the usage of next demo

In [28]:
crude_oil_data.to_csv('crude_oil_data_processed-lab-2.csv', index = False)

#### Describing the data

In [27]:
crude_oil_data.describe()

       U.S. Crude Oil      Alabama  ...         Year       Month
count       121.000000  121.000000  ...   121.000000  121.000000
mean       7423.694215   22.958678  ...  2012.958678    6.495868
std        1801.581601    3.773585  ...     2.950697    3.452352
min        3974.000000   16.000000  ...  2008.000000    1.000000
25%        5555.000000   20.000000  ...  2010.000000    4.000000
50%        7355.000000   22.000000  ...  2013.000000    6.000000
75%        9085.000000   26.000000  ...  2015.000000    9.000000
max       10674.000000   29.000000  ...  2018.000000   12.000000

[8 rows x 35 columns]

Warning: Total number of columns (35) exceeds max_columns (20) limiting to first (20) columns.

In [29]:
# Download the CSV to use it in the next demo
from google.colab import files
files.download('crude_oil_data_processed-lab-2.csv')